
@font-face {
  font-family: Roboto;
  src: url('./assets/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

.App {
  text-align: center;
  background: linear-gradient(#CAE8DD, #50AD8C) !important;
}

body {
  font-family: 'Roboto' !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,h2,h3,h4 {
  color: #50AD8C;
}

ol {
  color: #7C7C7C;
  padding-top: 30px;
}

button{
  background-color: #50AD8C;
  color: white;
  margin-top: 40px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.6;
}

li {
  padding-top: 30px;
  font-size: large;
}

input {
  padding-top: 15px !important;
  padding-bottom: 20px !important;
}

.screening {
  height: 100vh;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
}

.screeningCard {
  background-color: white;
  overflow: scroll;
  padding: 5%;
  float: none;
  height: 80vh;
  width: 70vw;
  box-shadow: 2px 2px 8px gray;
}

.upload {
  height: 100vh;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
}

.uploadCard {
  background-color: white;
  padding: 5%;
  float: none;
  position: relative;
  height: 100%;
  box-shadow: 2px 2px 8px gray;
}

.class {
  height: 30%;
  margin-bottom: 5%;
}

.video {
  height: 65%;
}


.uploadMedia {
  height: 75% !important;
  
}

.upload .row {
  width: 70vw;
}

.upload .col {
  height: 75vh;
}

.uploadBut {
  height: 20%;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: #30A179;
}

.proceed {
  color: white;
}

.vidLink {
  margin-top: 25px;
  border-color: #7C7C7C;
  height: 25px;
  border-radius: 40px;
  width: 75%;
  text-align: center;
}

.upload_file {
  height: 20%;
}

.startCard {
  background-color: white;
  width: 35vw;
  height: 70vh;
  padding: 15px;
  box-shadow: 2px 2px 8px gray;
}

.title {
  margin-top: 20px !important;
  font-size: 70px !important;
}

p {
  color: #30A179;
}

.start {
  height: 100vh;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
}

.continue {
  margin-top: 40px;
  width: 60%;
  height: 50%;
  border-radius: 50%;
  opacity: 1;
  transition: 0.3s;
}

.row {
  padding: 0;
  width: 100% ;
}

.col {
  height: 100%;
}

.continue:hover {
  background-color: #30A179;
  opacity: 0.6;
}

.greenLearn {
  background-color: #30A179;
  color: white;
  width: 100%;
  margin-top: 40%;
  font-size: x-large;
  height: 11em;
  border-radius: 50%;
}

.greyLearn {
  background-color: #7C7C7C;
  color: white;
  margin-top: 40%;
  width: 100%;
  height: 11em;
  font-size: x-large;
  border-radius: 50%;
}

.classDesc {
  color: gray;
}

.highlight {
  color: #30A179;
}
